node {
    size: 30px;
    fill-color: red;
    text-alignment: at-right;
    text-size: 15;
}

node:selected {
    fill-color: green;
}

sprite {
    size: 10px;
    fill-color: black;
    shape: box;
}

/* TODO: Use this later
node:clicked {
    fill-color: blue;
}

sprite:clicked {
    fill-color: red;
}
*/

sprite:selected {
    fill-color: green;
}